{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. Create a button in index.handlebars
that will submit the user input into the database. --}}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <center>
            <h1 class="display-4">Good Burger</h1>
            <p class="lead">Welcome to Good Burger, home of the Good Burger! Can I take your order?</p>
        </center>
    </div>
</div>
<div class="row">
        <div class="col-md-4">
            <h3>Select a burger to consume:</h3>
            <div>
                {{#each burgers}} {{#unless devoured}}
                <form action="burger/eat/{{id}}" method="POST">
                    <br>
                    <div class="input-group">
                        <li class="form-control">{{id}}. {{burger_name}}</li>
                        <span class="input-group-btn">
                            <button class="btn btn-success devour-button" type="submit">DEVOUR</button>
                        </span>
                    </div>
                </form>
                {{/unless}} {{/each}}
            </div>
        </div>
        <div class="col-md-4">
            <h3>Burgers consumed:</h3>
            <div id="burgersEaten">
                <br>
                {{#each burgers}} {{#if this.devoured}}
                <div class="input-group">
                    <li class="form-control">{{this.id}}. {{this.burger.name}}</li>
                </div>
                {{/if}} {{/each}}
            </div>
        </div>
</div>